<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
    <title></title>
    <LINK rel=stylesheet type="text/css" href="simplecare_css.css">
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1><center> SimpleCare </center></h1>
    <form action = >
      <p>
        <center>
          <label> SBC File(.pdf form) </label>
          <input type = "file"
                 name = "pdflink"/>
          <button type = 'submit'>Add File</button>
        </center>
      </p>
    </form>
  </body>
</html>
